<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat</title>
</head>
<body>
    <h3>Edit Chat:<%=chat.id%></h3>
    <p>This Chat was sent from <%= chat.from %></p>
    <form action="/chats/<%=chat._id%>?_method=PUT" method="post">
       <textarea name="msg" id="" rows="10" cols="20" ><%= chat.msg %></textarea>
       <button>edit</button>
    </form>
</body>
</html>